/* .instructionPage{
    display: flex;  
    align-items: center;
    justify-content: center;
} */
.instructions{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.instructionLeft{
    display: flex;
    flex-direction: column;

}
.instruction_list{
    display: flex;
    font-size: 15px;
    font-weight: 500;
    
}
.instruction_box{
    align-self: center;
  overflow-y: scroll;
}
.instructionRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.instruction_header{
      background: linear-gradient(90deg , rgba(215, 244, 249, 0.75) 0%, rgba(191, 212, 252, 0.75) 60.21%, rgba(213, 214, 250, 0.75) 100%);
      height:4rem;
      font-weight: 400;
      font-size: 25px;
      font-weight: bold;
}
.instruction_heading{
    padding: 1.5vh 4vw;
}
.confirm_box{
    text-align: center;
    /* height: 25vh; */
    margin-top: 4vh;
   
}

.instruction_lang_box{
    height: 90vh;
    width:40vw;
}
.language_btn{
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
    /* background-color: #8D8686; */
}
.Save_btn{
    justify-content: center;
    text-align: center;
    margin-top: 55vh;
}
/* .MuiMenu-list{
    width: 20vw;
    background-color: rgba(167, 185, 244, 0.56);
    font-weight: bold;
    
} */
