
.QuestionMain{

    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
    background-color: #E0E1F940;
}
.QuestionHead{
    font-size: 1rem !important;
    font-family: poppins !important;
}
.emojiFlex{
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    opacity: 0.6;
}
.emoji{
    width:5rem;
    padding: 0rem 1rem;
}
.selectedEmoji{
    opacity: 1;
}
.emojiHead{
    pointer-events: none;
    font-size: 0.75rem !important;
    color:#3F3F3F;
}

.emoji:hover{
    opacity: 1;
    /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.4s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}