.AddCandidate{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    padding: 0.5rem;
    width: 100%;

}

.whole-form{
    display: flex;
    align-items: left;
    margin: auto;
    justify-content: center;
    width:50%;
    border:2px solid black;


}
.form{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}
.inputField {
    padding: 0.4rem;
    width: 100%;
    border: 2px solid black;
}