.resultHead{
    font-family: poppins !important;
   margin-bottom: 1rem !important;
   font-weight: 600 !important;
   font-size: 2rem !important;
  }
.resultMain{
    margin-top: 5rem;
      text-align: center;
  }
  .resultFlex{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resultSubhead{
    font-family: poppins !important;
    font-weight: 450 !important;
    font-size: 1.1rem !important;
  }
  .resultValue{
    padding: 0.5rem;
    font-family: poppins !important;
    font-weight: 400 !important;
    font-size: 1.2rem !important;
  }
  #resultBox{
   
    width: 20rem;
    margin:1rem;
    padding: 1rem 0.5rem;
   background-color: #E0E1F940;
   border-radius: 10px;
  }
  .resultBtn{
     margin-top: 12rem;
    font-size: 1rem ;
    border-radius: 15px ;
    padding: 1rem ;
    width: 15rem;
    color: white ;
    background: rgba(84, 59, 160, 1) ;
    margin-bottom: 4rem;
  }
  .total{
    opacity: 0.8;
   margin-top: 1rem;
    border-radius: 10px;
    padding: 1rem;
    font-family: poppins !important;
    width: 20rem;
   background-color:  #E0E1F9;;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .totalscore{
    
    font-family: poppins !important;
    font-weight: 500 !important;
    font-size: 1.5rem !important;
  }